{% extends 'base.html'%}
{% load static %}
{%block title%}Login{%endblock%}
{%block content%}
<style>
    .container {
    height: 450px;
    width: 540px;
    background-color:transparent;
    margin: 7% 0 0 33%;
}
#msg{
    width: 800px;
    margin-left: 20%;
}
</style>
<nav class="navbar navbar-light bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'welcoming_page' %}">
      <img src="{% static 'welcome_page/demo_logo.png' %}" alt="demo_logo" width="46" height="40">
      ScholarShare
    </a>
  </div>
</nav>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
<div class="alert alert-warning alert-dismissible fade show" role="alert" id="msg">
  <strong> {{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
{% endfor %}
{% endif %}
<div class="container">
    <p class="fs-2 fw-bold">Log In</p>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="text" class="form-control" name="username"  required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">
                <a href="{%url 'register'%}" class="text-dark">Don't have an account?</a>
            </label>
        </div>
        <button type="submit" class="btn btn-primary" name="login">Login</button>
      </form>
</div>
{%endblock%}